<div>
  <h2>Einlogen</h2>
  <%= form_tag '/login' do %>
    Username: <%= text_field_tag :username %><br>
    Passwort: <%= password_field_tag :password %><br>
    <%= submit_tag "Einlogen" %>
  <% end %>
</div>
