<br>
<a href="/">HOME</a>
<a href="/users/new">Register</a>
<a href="/">
	<% if logged_in? %>
		<%= current_user.username do %>
		<% end %>
		<%= link_to 'Logout', logout_path, menthod: :delete%>
	<% else %>
		<a href="/login">Login</a>
	<% end %>
</a>
<p style="color:red"><%= flash[:success] %></p>

